{% extends "layout.html" %}
{% block title %} Home Page {%endblock title%}

{% block content %}

<div style="display: block; align-self: center; align-content: center; text-align: center;font-size: x-large;">
    <img src="https://upload.wikimedia.org/wikipedia/tr/archive/9/9e/20200316220122%21Saglikbakanligi_logo.png" style="width:100px; height:100px;">
    <br>{{ role }}<p>olarak giriş yapıldı.</p><br><p>Hoşgeldin {{ username }} !</p><br>
    <b><a href = '/eczane'>Eczaneleri Listele</a></b><br>
    <b><a href = '/ilac'>İlaçları Listele</a></b><br>
    <b><a href = '/logout'>Çıkış</a></b> 
</div>
{% endblock content %}